body {
  background: #0f172a;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 20px;
}

.title {
  text-align: center;
  color: white;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* BUTTONS */
.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.delete {
  background: red;
}

.cert {
  background: green;
}

button {
  border: none;
  padding: 8px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
